$primary: forestgreen;
$dark: rgb(40, 40, 40);
$navbar-dark-color: white;
$navbar-dark-active-color: $primary;
$background-color: rgb(242, 242, 242);
$secondary: orange;
$success: green;
$light: rgb(171, 171, 171);

