$primary: forestgreen;
$dark: rgb(37, 21, 21);
$navbar-dark-color: white;
$navbar-dark-active-color: $primary;
$background-color: rgb(242, 242, 242);
$secondary: orange;
$success: rgb(89, 178, 89);
$light: rgb(171, 171, 171);

