body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: $dark;
    color: $navbar-dark-color;
    padding: 2em;
    margin-top: auto;
}