.form-error {
    display: none;
    color: red;
}

.message-container {
    width:fit-content;
    color: white;
}

.warning, .success {
    padding: 1em;
}

.warning {
    background-color: orange;
}

.success {
    background-color: forestgreen;
}