.form-error {
    display: none;
    color: red;
}

.message-container {
    width:fit-content;
    color: $navbar-dark-color;
}

.warning, .success, .error {
    padding: 1em;
}

.warning {
    background-color: $secondary;
}

.success {
    background-color: $primary;
}

.error {
    background-color: red;
}