.form-error {
    display: none;
    color: red;
}

.message-container {
    width: 300px;
    color: white;
}

.warning {
    background-color: orange;
}

.sucess {
    background-color: forestgreen;
}